<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>main.java.login.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/WEB-INF/Hui/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>welcome</servlet-name>
    <jsp-file>/WEB-INF/Hui/welcome.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>member-show</servlet-name>
    <jsp-file>/WEB-INF/Hui/member-show.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>member-show</servlet-name>
    <url-pattern>/member-show.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>image-get</servlet-name>
    <jsp-file>/WEB-INF/Hui/image-get.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>image-get</servlet-name>
    <url-pattern>/image-get.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>course-show</servlet-name>
    <url-pattern>/course-show.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>course-show</servlet-name>
    <jsp-file>/WEB-INF/Hui/course-show.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>search</servlet-name>
    <jsp-file>/WEB-INF/Hui/search.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>course-in</servlet-name>
    <url-pattern>/course-in.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>course-in</servlet-name>
    <jsp-file>/WEB-INF/Hui/course-in.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>course-in2</servlet-name>
    <url-pattern>/course-in2.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>course-in2</servlet-name>
    <jsp-file>/WEB-INF/Hui/course-in2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>user-change</servlet-name>
    <url-pattern>/user-change.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>user-change</servlet-name>
    <jsp-file>/WEB-INF/Hui/user-change.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>showTest</servlet-name>
    <url-pattern>/showTest.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showTest</servlet-name>
    <jsp-file>/WEB-INF/Hui/showTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>grade-show</servlet-name>
    <url-pattern>/grade-show.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>grade-show</servlet-name>
    <jsp-file>/WEB-INF/Hui/grade-show.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>banzhuren</servlet-name>
    <url-pattern>/banzhuren.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>banzhuren</servlet-name>
    <jsp-file>/WEB-INF/Hui/banzhuren.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherSearch</servlet-name>
    <url-pattern>/teacherSearch.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherSearch</servlet-name>
    <jsp-file>/WEB-INF/Hui/teacherSearch.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherShow</servlet-name>
    <url-pattern>/teacherShow.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>teacherShow</servlet-name>
    <jsp-file>/WEB-INF/Hui/teacherShow.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>member-change</servlet-name>
    <url-pattern>/member-change.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>member-change</servlet-name>
    <jsp-file>/WEB-INF/Hui/member-change.jsp</jsp-file>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>photoController</servlet-name>
    <servlet-class>main.java.userMessage.photo.photoController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>main.java.test.Test1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CourseController</servlet-name>
    <servlet-class>main.java.course.controller.CourseController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>main.java.test.Test2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SysCourseController</servlet-name>
    <servlet-class>main.java.sys.course.controller.SysCourseController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CourseInController</servlet-name>
    <servlet-class>main.java.sys.courseIn.controller.CourseInController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CourseInSearcheController</servlet-name>
    <servlet-class>main.java.sys.courseIn.controller.CourseInSearcheController</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FilterTest</servlet-name>
    <servlet-class>main.java.Filter.FilterTest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GradeController</servlet-name>
    <servlet-class>main.java.xuesheng.grade.controller.GradeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>main.java.banzhuren.search.controller.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>main.java.banzhuren.search.controller.SearchController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GradeSearchController</servlet-name>
    <servlet-class>main.java.teacher.gradeSearch.controller.GradeSearchController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GradeShowController</servlet-name>
    <servlet-class>main.java.teacher.gradeShow.controller.GradeShowController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeController</servlet-name>
    <servlet-class>main.java.userMessage.change.controller.ChangeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XueshengController</servlet-name>
    <servlet-class>main.java.sys.xuesheng.controller.XueshengController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>photoController</servlet-name>
    <url-pattern>/photoController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseController</servlet-name>
    <url-pattern>/CourseController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SysCourseController</servlet-name>
    <url-pattern>/SysCourseController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseInController</servlet-name>
    <url-pattern>/CourseInController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseInSearcheController</servlet-name>
    <url-pattern>/CourseInSearcheController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeController</servlet-name>
    <url-pattern>/GradeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeSearchController</servlet-name>
    <url-pattern>/GradeSearchController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeShowController</servlet-name>
    <url-pattern>/GradeShowController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeController</servlet-name>
    <url-pattern>/ChangeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XueshengController</servlet-name>
    <url-pattern>/XueshengController</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FilterTest</filter-name>
    <filter-class>main.java.Filter.FilterTest</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterTest</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>